@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

body{
    max-width: 2000px;
    margin: 0 auto;
    font-family: "Poppins";
}

.top{
    display: flex;
    place-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #194782;
}

.phone-mail{
    display: flex;
    color: white;
    align-items: center;
    font-size: 0.8rem;
    margin-left: 20%;
}

.phone, .mail{
    display: flex;
    align-items: center;
    margin: 0.5em;
}

.phone > img{
    margin: 0.5em;
}

.mail > img{
    margin: 0.5em;
}

.smicon-contactform{
    display: flex;
    align-items: center;
    padding: 0.3em;
    margin-right: 20%;
}

.smicon-contactform img{
    width: 1.2em;
    margin: 0.1em 0.25em;
}

.smicons{
    margin: 0.5em;
    border-right: 1px white solid;
}

.smicons img:hover{
    transform: scale(1.05);
}

.contactbutton{
    padding: 0.5em;
    font-size: 0.8rem;
    font-weight: 400;
}

.contactbutton:hover{
    background-color: #1C56A0;
    transform: scale(1.05);
}

.contactbutton a{
    color: white;
    text-decoration: none;
}

.logo-buttons{
    display: flex;
    place-content: space-between;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
}

.logo{
    font-weight: bold;
    font-size: 1.5rem;
    color: #252525;
}

.buttons{
    position: relative;
}

.mobilebutton{
    position: relative;
    display: none;
}

.logo span{
    color: #0c0cb8;
}

.upperbuttons, .ddbuttons, .mddbutton{
    border: none;
    outline: none;
    background-color: white;
    font-family: "Poppins";
    font-size: 1rem;
    font-weight: bold;
    transition: 0.3s;
    text-transform: uppercase;
}

.upperbuttons a{
    text-decoration: none;
    color: #252525;
}

.upperbuttons:hover{
    transform: scale(1.1);
}

.ddbuttons{
    position: relative;
    display: block;
    width: 12vw;
    left: -8%;
}

.mddmenu{
    margin: 0vh 0vw;
    transform: scale(1.8, 1);
}

.mddbutton{
    position: relative;
    /*width: 10vw;*/
    display: block;
    margin: 1vh 0;
    align-self: center;
}

.ddbuttons > a{
    color: #252525;
    text-decoration: none;
}

.mddbutton > a{
    color: #252525;
    text-decoration: none;
}

.ddbuttons:hover{
    transform: scale(1.1);
}

.ddlist{
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}

.mddlist{
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
    background-color: white;
    width: 10em;
}

.ddlistopening{
    transform: scaleY(1);
}

.mddlistopening{
    transform: scaleY(1);
}

input[type*="submit"]{

}

.hero{
    max-width: 100vw;
}

.hero img{
    max-width: inherit;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: 50% 25%;
}

.hero-quote{
    position: absolute;
    z-index: 1;
    left:20%;
    right: 50%;
    width: 30%;
    top: 30%;
    color: white;
    font-size: 2rem;
    font-style: italic;
}

.company-states{
    margin-top: 15vh;
    margin-right: 20%;
    margin-left: 20%;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.state{
    display: flex;
    place-content: space-around;
    margin-bottom: 5vh;
}

.state img{
    max-width: 30%;
}

.state:nth-of-type(2){
    flex-direction: row-reverse;
}

.state:last-of-type{
    flex-direction: row-reverse;
}

.quotes{
    margin-top: auto;
    margin-bottom: auto;
}

.references > *{
    margin-bottom: 10vh;
}

.references h2{
    text-align: center;
    color: #252525;
}

.opinions{
    display: flex;
    place-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}

.little-portfolios{
    width: 40%;
   /* border: 1px #252525 solid;*/
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.little-portfolios img{
    width: 20%;
    margin: 0 auto;
    border-radius: 100%;
    max-height: 8vh;
}

.little-portfolios h4{
    margin: 0 auto;
}

.little-portfolios h6{
    margin: 0 auto;
}

.little-portfolios p{
    font-size: 0.75rem;
    text-align: justify;
}

footer{
    background-color: #194782;
    text-align: center;
    padding: 2vh 0;
}

footer div p{
    color: white;
    font-size: 1rem;
}

@media screen and (max-width: 1900px){
    .hero-quote{
        top: 20%;
    }

    .company-states{
        margin-top: 10vh;
    }
}

@media screen and (max-width: 1620px){
    .ddlist{
        left: 31%;
    }
    
    .hero-quote{
        top: 23%;
        font-size: 1.75rem;
    }

    .company-states{
        margin-top: 5vh;
    }

    .references > *{
        margin-bottom: 5vh;
    }
}

@media screen and (max-width: 1300px){
    .logo{
        font-size: 1.2rem;
    }

    .ddlist{
        left: 34.5%;
    }

    .hero img{
        height: 48vh;
    }

    .hero-quote{
        top: 18%;

    }
}

@media screen and (max-width: 1050px){
    .logo{
        font-size: 1rem;
    }

    .ddlist{
        left: 32.5%;
    }

    .upperbuttons, .ddbuttons{
        font-size: 0.8rem;
    }
    
    .hero img{
        height: 40vh;
    }

    .hero-quote{
        top: 22%;
        font-size: 1.4rem;
    }    
}

@media screen and (max-width: 920px){
    .phone-mail{
        font-size: 0.6rem;
    }

    .smicon-contactform img{
        width: 1em;
    }

    .ddbuttons{
        left: -2%;
    }

    .upperbuttons, .ddbuttons{
        font-size: 0.7rem;
    }

    .hero img{
        height: 35vh;
    }

    .hero-quote{
        top: 15%;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px){
    .phone-mail{
        font-size: 0.45rem;
    }

    .phone img{
        width: 2em;
    }

    .mail img{
        width: 2em;
    }

    .smicon-contactform img{
        width: 0.8em;
    }

    .buttons{
        display: none;
    }

    .mobilebutton{
        display: block;
    }

    .mddmenu img{
        width: 4vw;
        height: 3vh;
    }

    .mddbutton{
        font-size: 0.8rem;
    }

    .hero img{
        height: 30vh;
    }

    .quotes{
        font-size: 0.75rem;
    }

    .little-portfolios{
        width: 47%;
    }
}

@media screen and (max-width: 660px){
    .phone-mail{
        font-size: 0.35rem;
    }

    .smicon-contactform img{
        width: 0.6em;
        margin: 0.05em 0.12em;
    }

    .contactbutton{
        padding: 0.3em;
        font-size: 0.5rem;
    }

    .hero img{
        height: 25vh;
    }

    .hero-quote{
        top: 14%;
        font-size: 0.9rem;
    }

    .state{
        justify-content: center;
        flex-direction: column;
    }

    .state img{
        max-width: 45vw;
        margin: 0 auto;
    }

    .state:nth-of-type(2){
        flex-direction: column;
    }
    
    .state:last-of-type{
        flex-direction: column;
    }

    .quotes{
        text-align: center;
    }
    
    .references h2{
        font-size: 1.2rem;
    }

    .opinions{
        flex-direction: column;
        align-items: center;
    }

    .little-portfolios{
        width: 75%;
    }

    footer div p{
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 525px){
    .smicon-contactform img{
        width: 0.5em;
    }

    .smicons{
        border-right: none;
    }

    .contactbutton{
        padding: 0.2em;
        font-size: 0.4rem;
    }

    .hero img{
        height: 25vh;
    }

    .hero-quote{
        top: 18%;
        font-size: 0.67rem;
    }

    .state img{
        max-width: 45%;
    }
}

@media screen and (max-width: 430px){
    .smicon-contactform img{
        width: 0.4em;
        margin: 0.03em 0.08em;
    }

    .contactbutton{
        padding: 0.15em;
        font-size: 0.3rem;
    }

    .references h2{
        font-size: 0.9rem;
    }

    .state img{
        max-width: 40%;
    }

    .little-portfolios p{
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 395px){

    .top{
        display: none;
    }

    .mddmenu img{
        width: 5vw;
        height: 3vh;
    }

    .hero-quote{
        top: 11%;
        font-size: 0.55em;
    }

    .references h2{
        font-size: 0.9rem;
    }

    .state img{
        max-width: 40%;
    }

    .little-portfolios img{
        width: 30%;
        max-height: 10vh;
    }

    .little-portfolios p{
        font-size: 0.5rem;
    }

    footer div p{
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 330px){
    .hero-quote{
        top: 13%;
        font-size: 0.45em;
    }
}