.companynews{
    margin: 5vh 20%;
}

.news{
    display: flex;
    align-items: flex-start;
    margin: 10vh 0;
    width: 60vw;
    height: 35vh;
    /*border: 3px solid black;*/
    overflow: hidden;
}

.left{
    justify-self: left;
    width: 30vw;
    border-radius: 10px;

}

.left img{
    width: 26vw;
    border-radius: 5px;
}

.right{
    justify-self: right;
    width: 30vw;
    text-align: center;

}

.right a{
    width: 30vw;
    font-weight: bold;
    font-size: 1.5rem;
}

.right p{
    width: 30vw;
    text-align: justify;
    font-size: 0.9rem;
}


.news a{
    text-decoration: none;
    color: #252525;
}

.news a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1300px){
    .right a{
        font-size: 1.2rem;
    }

    .right p{
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 768px){
    .news{
        align-items: center;
        flex-direction: column;
        height: 60vh;
    }

    .left{
        justify-self: center;
        margin: 0 auto;
        width: 50vw;
    }

    .left img{
        margin: 0 auto;
        width: 50vw;
    }

    .right{
        justify-self: center;
        width: 50vw;
    }

    .right a{
        width: 50vw;

    }

    .right p{
        width: 50vw;
    }
}
